/*
  Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
  - The "symbol *" part is to solve Firefox SVG sprite bug
*/
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}


/* ----------END CSS RESET---------- */

html {
    font-family: 'Roboto', sans-serif;
}

/* START TOP NAVIGATION */
nav {
    background: #000;
    padding: 0 15px;
}

a {
    color: white;
    text-decoration: none;
}

.menu,
.submenu {
    list-style-type: none;
}

.logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
}

.item {
    padding: 18px 10px 0 10px;
}

.item.button {
    padding: 9px 5px;
}

.item:not(.button) a:hover,
.item a:hover::after {
    color: #ccc;
}

/* Mobile menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu li a {
    display: block;
    padding: 10px 5px;
}

.menu li.subitem a {
    padding: 10px;
}

.toggle {
    order: 1;
    font-size: 20px;
}

.item.button {
    order: 2;
}

.item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
}

.active .item {
    display: block;
}

.button.secondary {
    /* divider between buttons and menu links */
    border-bottom: 1px #444 solid;
}

/* Submenu up from mobile screens */
.submenu {
    display: none;
}

.submenu-active .submenu {
    display: block;
}

.subitem a {
    padding: 10px 15px;
}

.submenu-active {
    background-color: #111;
    border-radius: 3px;
}

/* Tablet menu */
@media all and (min-width: 700px) {
    .menu {
        justify-content: center;
    }

    .logo {
        flex: 1;
    }

    .item.button {
        width: auto;
        order: 1;
        display: block;
    }

    .toggle {
        flex: 1;
        text-align: right;
        order: 2;
    }

    /* Button up from tablet screen */
    .menu li.button a {
        padding: 10px 15px;
        margin: 5px 0;
    }

    .button a {
        background: #0080ff;
        border: 1px royalblue solid;
    }

    .button.secondary {
        border: 0;
    }

    .button.secondary a {
        background: transparent;
        border: 1px #0080ff solid;
    }

    .button a:hover {
        text-decoration: none;
    }
}

/* Desktop menu */
@media all and (min-width: 960px) {
    .menu {
        align-items: flex-start;
        flex-wrap: nowrap;
        background: none;
        max-width: 1200px;
        margin: 0 auto;
    }

    .logo {
        order: 0;
    }

    .item {
        order: 1;
        position: relative;
        display: block;
        width: auto;
    }

    .button {
        order: 2;
    }

    .submenu-active .submenu {
        display: block;
        position: absolute;
        left: 0;
        top: 68px;
        background: #111;
    }

    .toggle {
        display: none;
    }

    .submenu-active {
        border-radius: 0;
    }
}

/* END TOP NAVIGATION */


.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
    min-height: 100vh;
}

.footer {

    width: 100%;
    background-color: #000;
    color: white;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: center;


    .footbox {
        padding: 0 40px;

        p {
            font-size: 12px;
            padding-bottom: 5px;
        }
    }
}

.title {
    text-align: center;
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 40px;
}

input[type=text],
input[type=search] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.search {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    input[type=submit],
    button {
        color: #ccc;
        padding: 9px 10px 8px 10px;
        border: none;
        cursor: pointer;
        background-color: #000;
        text-align: center;
    }
}

.login {
    margin: 0 auto;
    max-width: 350px;
    background-color: #fff;
    border: 1px solid #C3C3C3;
    padding: 20px;

    input[type=submit] {
        width: 100%;
        color: white;
        padding: 14px 20px;
        border: none;
        cursor: pointer;
        background-color: #000;
        text-align: center;
        margin-top: 30px;
    }
}

.homeBody,
.featureBody {
    margin-top: 40px;

    .row {
        display: flex;
        justify-content: space-between;

        .card {
            margin-bottom: 30px;

            a {
                color: #000;
            }

            h6 {
                font-weight: 500;
                font-size: .875rem;
                padding: 0 0 3px 0;
            }

            p {
                font-size: .875rem;

            }
        }
    }
}

.featureBody {

    .featureRow {
        display: flex;
        justify-content: space-between;
    }

    .imgBox {
        width: 20%;
        margin: 0 40px 0 0;

        img {
            width: 100%;
            height: auto;
        }
    }

    h5 {
        padding: 30px 0 10px 0;
        font-size: 1.15rem;
        font-weight: 500;
    }

    .details {
        flex-grow: 2;
        width: 70%;

        h2 {
            font-size: 1.875rem;
            font-weight: 500;
            padding: 0 0 10px 0;
        }

        p {
            margin-bottom: 10px;
        }

    }

    .cast {

        h5 {
            padding: 30px 0;
            font-size: 1.15rem;
            font-weight: 500;
        }

        .castRow {

            .castCard {
                display: inline-block;
                width: 14.65%;
                margin-bottom: 20px;
                margin: 0 10px 20px 10px;

                img {
                    width: 100%;
                    height: auto;
                }

                h6,
                p {
                    color: #000;
                    margin-bottom: 5px;
                }

                h6 {
                    font-weight: 500;
                }

            }
        }
    }
}

hr.hr {
    border-top: 1px solid #ccc;
    margin: 40px 0 30px 0;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .wrapper {
        padding: 40px 10px;
    }

    .title {
        font-size: 26px;
        line-height: 2rem;
    }

    .search {
        width: 100%;
        padding: 0 10px;
    }

    .homeBody {

        .row {
            display: block;

            .card {
                width: 100%;

                a {
                    color: #000;
                }

                img {
                    width: 100%;
                    height: auto;
                }

                h6 {
                    font-size: 1rem;
                }

                p {
                    font-size: 1rem;
                }
            }
        }
    }

    .featureBody {

        .featureRow {
            display: block;
        }

        .imgBox {
            width: 96%;
            margin: 0 auto 40px auto;
        }

        .details {
            flex-grow: 2;
            width: 96%;
            margin: 0 auto;
        }



        .cast {
            width: 100%;

            .castRow {

                .castCard {
                    display: inline-block;
                    width: 44%;

                }
            }
        }

    }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .wrapper {

        .featureBody {

            .featureRow,
            .cast {
                padding: 0 20px;
            }

        }
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {}

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {}
}