/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 */

*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert
}

*,
*::before,
*::after {
  box-sizing: border-box
}

a {
  cursor: revert
}

ol,
ul,
menu {
  list-style: none
}

img {
  max-width: 100%
}

table {
  border-collapse: collapse
}

textarea {
  white-space: revert
}

:where([hidden]) {
  display: none
}

:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space
}

:where([draggable="true"]) {
  -webkit-user-drag: element
}

html {
  font-family: 'Roboto', sans-serif
}

nav {
  background: #000;
  padding: 0 15px
}

a {
  /* color: white; */
  text-decoration: none
}

.menu,
.submenu {
  list-style-type: none
}

.logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0
}

.item {
  padding: 18px 10px 0 10px
}

.item.button {
  padding: 9px 5px
}

.item:not(.button) a:hover,
.item a:hover::after {
  color: #ccc
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center
}

.menu li a {
  display: block;
  padding: 10px 5px
}

.menu li.subitem a {
  padding: 10px
}

.toggle {
  order: 1;
  font-size: 20px
}

.item.button {
  order: 2
}

.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none
}

.active .item {
  display: block
}

.button.secondary {
  border-bottom: 1px #444 solid
}

.submenu {
  display: none
}

.submenu-active .submenu {
  display: block
}

.subitem a {
  padding: 10px 15px
}

.submenu-active {
  background-color: #111;
  border-radius: 3px
}

@media all and (min-width: 700px) {
  .menu {
    justify-content: center
  }

  .logo {
    flex: 1
  }

  .item.button {
    width: auto;
    order: 1;
    display: block
  }

  .toggle {
    flex: 1;
    text-align: right;
    order: 2
  }

  .menu li.button a {
    padding: 10px 15px;
    margin: 5px 0
  }

  .button a {
    background: #0080ff;
    border: 1px royalblue solid
  }

  .button.secondary {
    border: 0
  }

  .button.secondary a {
    background: transparent;
    border: 1px #0080ff solid
  }

  .button a:hover {
    text-decoration: none
  }
}

@media all and (min-width: 960px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
    max-width: 1200px;
    margin: 0 auto
  }

  .logo {
    order: 0
  }

  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto
  }

  .button {
    order: 2
  }

  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: #111
  }

  .toggle {
    display: none
  }

  .submenu-active {
    border-radius: 0
  }
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
  min-height: 100vh
}

.footer {
  width: 100%;
  background-color: #000;
  color: white;
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: center
}

.footer .footbox {
  padding: 0 40px
}

.footer .footbox p {
  font-size: 12px;
  padding-bottom: 5px
}

.title {
  text-align: center;
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 40px
}

input[type=text],
input[type=search] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box
}

.search {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 40px
}

.search input[type=submit],
.search button {
  color: #ccc;
  padding: 9px 10px 8px 10px;
  border: none;
  cursor: pointer;
  background-color: #000;
  text-align: center
}

.login {
  margin: 0 auto;
  max-width: 350px;
  background-color: #fff;
  border: 1px solid #C3C3C3;
  padding: 20px
}

.login input[type=submit] {
  width: 100%;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  background-color: #000;
  text-align: center;
  margin-top: 30px
}

.homeBody,
.featureBody {
  margin-top: 40px
}

.homeBody .row,
.featureBody .row {
  display: flex;
  justify-content: space-between
}

.homeBody .row .card,
.featureBody .row .card {
  margin-bottom: 30px
}

.homeBody .row .card a,
.featureBody .row .card a {
  color: #000
}

.homeBody .row .card h6,
.featureBody .row .card h6 {
  font-weight: 500;
  font-size: .875rem;
  padding: 0 0 3px 0
}

.homeBody .row .card p,
.featureBody .row .card p {
  font-size: .875rem
}

.featureBody .row {
  justify-content: none
}

.featureBody .imgBox {
  width: 25%;
  margin: 0 40px 0 0
}

.featureBody .imgBox img {
  width: 100%;
  height: auto
}

.featureBody .details {
  flex-grow: 2;
  width: 70%
}

.featureBody .details h2 {
  font-size: 1.875rem;
  font-weight: 500;
  padding: 0 0 10px 0
}

.featureBody .details h5 {
  padding: 30px 0 10px 0;
  font-size: 1.15rem;
  font-weight: 500
}

@media only screen and (max-width: 600px) {
  .wrapper {
    padding: 40px 10px
  }

  .title {
    font-size: 26px;
    line-height: 2rem
  }

  .search {
    width: 100%;
    padding: 0 10px
  }

  .homeBody .row {
    display: block
  }

  .homeBody .row .card {
    width: 100%
  }

  .homeBody .row .card a {
    color: #000
  }

  .homeBody .row .card img {
    width: 100%;
    height: auto
  }

  .homeBody .row .card h6 {
    font-size: 1rem
  }

  .homeBody .row .card p {
    font-size: 1rem
  }
}